<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="card">
                    <header class="card-header" style="background-color: orange"> <strong>SmartAutomation</strong>
                    </header>
                
                    <div class="card-body card-block">
                        <div class="form-group col-md-12">

                            <form [formGroup]="formHomeURL" (ngSubmit)="findLinks(formHomeURL.value)"
                                name="formHomeURL">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-link"></i></div>
                                                <input type="text" id="float-input" size="30" label="homeurl" placeholder="Enter a URL"
                                                    class="form-control" name="homeurl" formControlName="url" required
                                                    pInputText>
                                            <!-- <pre *ngIf="formHomeURL.controls.url.touched && formHomeURL.get('url').invalid">please provide a valid URL</pre> -->
                                        </div>
                                    </div>

                                    <div class="form-group col-md-1">
                                        <button pButton title="Find Links"
                                            class="form-control ui-button-raised ui-button-info ml-2" label="Find"
                                            [disabled]="formHomeURL.invalid" (click)="showCreateProkectDialog()"
                                            icon="fa fa-globe"> </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </form>

                        </div>

                        <div class="form-group col-md-12">
                            <div class="row">

                                <div class="form-group col-md-3">
                                    <form [formGroup]="formSelectSuite" name="formSelectSuite">
                                        <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-list"></i></div>
                                        <select formControlName="SelectSuite" id="SelectSuite" class="form-control">
                                            <option disabled>Select Test Suite</option>
                                            <option *ngFor="let suite of TestSuiteFolder; let i = index"
                                                [value]="TestSuiteFolder[i].suite">
                                                {{TestSuiteFolder[i].suite}}
                                            </option>
                                        </select>
                                        </div>
                                    </form>
                                </div>

                                <div class="form-group col-md-3">
                                    <form [formGroup]="formTestSuite" (ngSubmit)="onNewTestSuite(formTestSuite.value)"
                                        name="formTestSuite">
                                        <div class="input-group">
                                            <div class="input-group-addon"><i class="fa fa-suitcase"></i></div>
                                            <input type="text" id="suite" label="suite" class="form-control" placeholder="Create Test Suite"
                                                name="suite" formControlName="suite" required pInputText>
                                        </div>
                                    </form>
                                </div>

                                <div class="form-group col-md-1">
                                    <button title="Create new test suite" pButton
                                        class="form-control ui-button-raised ui-button-info ml-2"
                                        name="Create Test Suite" (click)="onNewTestSuite(formTestSuite.value)"
                                        label="Create" ></button>
                                </div>

                                <div class="form-group col-md-1">
                                    <button pButton title="Settings"
                                        class="form-control ui-button-raised ui-button-info ml-2" label="Settings"
                                        (click) = "settings()"
                                        icon="fa fa-cog"> </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                </div>
                                <!-- routerLink = "/settings" -->

                            </div><br><br>
                        </div>
                    </div>

                    <!-- <form [formGroup]="formSelectSuite" name="formSelectSuite">
                                Maintain Session: <input type="checkbox" formControlName = "manageSession" id="manageSession">
                            </form> -->

                    <div class="card mytable" style="width: 80%">
                        <div style="width: 100%">
                            <!-- <p-progressSpinner class="form-group" *ngIf="isScraptDataLoaded == false && isScraptCalled == true" [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner> -->
                            <div class="form-group">
                                <header class="card-header">
                                    <span>
                                        Selected: {{selectedNode ? selectedNode.label : 'none'}}
                                        <i class="fa fa-expand" (click)="expandAll()" title="Expand all nodes"
                                            style="cursor: pointer; float: right; margin-right: 10px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <i class="fa fa-compress" (click)="collapseAll()" title="collapse all nodes"
                                            style="cursor: pointer; float: right; margin-right: 10px;"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <!-- <button class="form-control col-md-1 btn btn-secondary float-right ml-2" label="Expand all" name="Expand All" (click)="expandAll()" ><i class="fa fa-expand" aria-hidden="true"></i>  </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <button class="form-control col-md-1 btn btn-secondary float-right ml-2" label="Collapse all" name="Collapse All" (click)="collapseAll()"><i class="fa fa-compress" aria-hidden="true"></i> </button>&nbsp;&nbsp;&nbsp;&nbsp; -->
                                    </span>
                                    <!-- <br>Selected: {{selectedNode ? selectedNode.label : 'none'}}     -->
                                </header>
                            </div>
                        </div>
                        <div class="card-body card-block">
                            <div>
                                <!-- *ngIf = "isTable == true" -->
                                <!-- , 'background-color':'#c8ced3', 'color':'#23282c' -->
                                <p-tree [value]="treeNodes"
                                    [style]="{'width': '100%','height':'500px', 'overflow':'hidden'}"
                                    selectionMode="single" [(selection)]="selectedNode"
                                    (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)"
                                    [filter]="true" (click)="scroll(target)">
                                    <ng-template let-node pTemplate="default">{{node.label}}</ng-template>
                                </p-tree>
                                <div style="margin-top:8px">Selected: {{selectedNode ? selectedNode.label : 'none'}}
                                </div>
                            </div>
                        </div>
                    </div><br><br>


                    <div #target class="card mytable" style="width: 80%">
                        <header class="card-header">
                            <p-progressSpinner *ngIf="isDataLoaded == false && isDataCalled == true"
                                [style]="{width: '50px', height: '50px', 'float': 'right'}" strokeWidth="8"
                                fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                            <!-- <button pButton title="Execute Test Case" class="form-control ui-button-raised ui-button-success ml-2"  (click)="execute()" icon = "fa fa-play"> </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button pButton title="Execute Test Suite" class="form-control ui-button-raised ui-button-primary ml-2"  (click)="executeSuite()" icon = "fa fa-play-circle"> </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                <button pButton title="Add Test Case to Test Suite" class="form-control ui-button-raised ui-button-info ml-2"  (click)="AddtoSuite()" icon = "fa fa-plus"> </button>&nbsp;&nbsp;&nbsp;&nbsp;
                                 -->
                            <i class="fa fa-play" (click)="execute()" title="Execute Test Case"
                                style="cursor: pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-play-circle" (click)="executeSuite()" title="Execute Test Suite"
                                style="cursor: pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-plus" (click)="AddtoSuite()" title="Add Test Case to Test Suite"
                                style="cursor: pointer"></i>&nbsp;&nbsp;&nbsp;&nbsp;

                            <!-- <input type="submit" name="Execute" class="form-control col-md-2 btn btn-secondary float-right m-2" (click)="execute()" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="submit" name="Execute" value="Execute Suite" class="form-control col-md-2 btn btn-secondary float-right m-2" (click)="executeSuite()" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <input type="submit" name="AddToSuite" value="Add To Suite" class="form-control col-md-2 btn btn-secondary float-right m-2" (click)="AddtoSuite()" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                        </header>
                        <div class="card-body card-block" style="text-overflow: ellipsis; overflow: hidden;">
                            <form [formGroup]="formTable" name="formTable">
                                <input type="hidden" id="browser" formControlName="browser">
                                <input type="hidden" id="isSendMail" formControlName="isSendMail">
                                <input type="hidden" id="email" formControlName="email">
                                <div class="card-body table-responsive" *ngIf="formSelectForm.value != null">
                                    <table *ngIf="formTable.get('units')" id="dataTable"
                                        class="table table-hover table-bordered mytable">
                                        <thead>
                                            <tr>
                                              
                                                <th *ngIf = "showColumns.clone == true">Clone</th>
                                                <th *ngIf = "showColumns.executeat == true">Execute At</th>
                                                <th *ngIf = "showColumns.index == true">Index</th>
                                                <th *ngIf = "showColumns.image == true">Image</th>
                                                <th *ngIf = "showColumns.execute == true">Execute</th>
                                                <th *ngIf = "showColumns.tag == true">Tag</th>
                                                <th *ngIf = "showColumns.object == true" style="white-space: nowrap; 
                                                width: 50px; 
                                                overflow: hidden;
                                                text-overflow: ellipsis; ">Object</th>
                                                <th *ngIf = "showColumns.through == true">Through</th>
                                                <th *ngIf = "showColumns.operation == true">Operation</th>
                                                <th *ngIf = "showColumns.value == true">Value</th>
                                                <th *ngIf = "showColumns.waittime == true">Wait Time</th>
                                            </tr>
                                        </thead>
                                        <tbody formArrayName="units">
                                            <tr *ngFor="let unit of unnitsFormArray.controls; let i=index" [formGroupName]="i">

                                                <td *ngIf = "showColumns.clone == true"><i class="fa fa-clone" (click)="cloneElement(unit.controls)"></i></td>
                                                
                                                <td *ngIf = "showColumns.executeat == true">
                                                    <select formControlName="executeAt" class="form-control">
                                                        <option *ngFor="let in of PoosibleIndexs; let i = index"
                                                            [value]="PoosibleIndexs[i]">
                                                            {{in}}
                                                        </option>
                                                    </select>
                                                </td>

                                                <td *ngIf = "showColumns.index == true"><span>{{unit.controls.elementindex.value}}</span><input type="hidden" formControlName="elementindex" class="form-control"></td>
                                                <td  *ngIf = "showColumns.image == true"><img [src]="unit.controls.image.value" alt="NA" /></td>
                                                
                                                <td *ngIf = "showColumns.execute == true"><input type="checkbox" formControlName="isexecute"
                                                        class="form-control" placeholder="Check to execute element">
                                                </td>

                                                <td *ngIf = "showColumns.tag == true"><span>{{unit.controls.tag.value}}</span><input type="hidden"
                                                        formControlName="tag" class="form-control"
                                                        placeholder="Enter a value"></td>

                                                <td *ngIf = "showColumns.object == true" width="10%" class="ellipsis"><span
                                                        title="{{unit.controls.obj.value}}">{{unit.controls.obj.value}}</span><input
                                                        type="hidden" formControlName="obj" class="form-control"
                                                        placeholder="Enter a value"></td>

                                                <td *ngIf = "showColumns.through == true"><span>{{unit.controls.through.value}}</span><input type="hidden"
                                                        formControlName="through" class="form-control"
                                                        placeholder="Enter a value"></td>
                                                <td  *ngIf = "showColumns.operation == true"><span>{{unit.controls.operation.value}}</span><input type="hidden" formControlName="operation" class="form-control" placeholder="Enter a value" ></td>
                                                <td *ngIf = "showColumns.value == true">
                                                    <span><input type="text"
                                                            *ngIf='unit.controls.operation.value != "click" && unit.controls.tag.value != "password" '
                                                            formControlName="val" class="form-control"
                                                            placeholder="Enter a value"
                                                            value="{{unit.controls.val.value}}"></span>
                                                    <span><input type="password"
                                                            *ngIf='unit.controls.operation.value != "click" && unit.controls.tag.value == "password" '
                                                            formControlName="val" class="form-control"
                                                            placeholder="Enter a value"
                                                            value="{{unit.controls.val.value}}"></span>
                                                </td>
                                                <td *ngIf = "showColumns.waittime == true">
                                                    <span><input type="number"
                                                            formControlName="waittime" class="form-control"
                                                            placeholder="Enter wait time">
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div><br><br><br>

                </div>
            </div>
        </div>
    </div>
</div>


<p-dialog header="Create New Project" [(visible)]="displayCreateProjectDialog" [modal]="true" [responsive]="true"
    [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">

    <form [formGroup]="formCreateProject" (ngSubmit)="createNewProject(formCreateProject.value)"
        name="formCreateProject">
        <input type="text" id="newProject" label="newProject" class="form-control col-md-8 float-left" name="newProject"
            formControlName="newProject" required placeholder="Test Project">
        <input type="hidden" id="baseURL" label="baseURL" class="form-control col-md-8 float-left" name="baseURL"
            formControlName="baseURL" required placeholder="baseURL">
    </form>

    <p-footer>
        <button type="submit" pButton icon="pi pi-check" (click)="createNewProject(formCreateProject.value)"
            label="Create"></button>
        <button type="button" pButton icon="pi pi-close" (click)="displayCreateProjectDialog=false" label="Cancel"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

<p-dialog header="Create New Project" [(visible)]="displayCreateSuiteDialog" [modal]="true" [responsive]="true"
    [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">

    <!-- <form [formGroup]="formCreateSuite" (ngSubmit)="createNewSuite(formCreateSuite.value)" name="formCreateSuite">
                <input type="text" id="suite" label="suite" class="form-control col-md-8 float-left" name="suite" formControlName="suite" required placeholder="Test Project">
            </form> -->

    <form [formGroup]="formTestSuite" (ngSubmit)="onNewTestSuite(formTestSuite.value)" name="formTestSuite">
        <!-- <div class="input-group-addon"><i class="fa fa-calendar"></i></div> -->
        <input type="text" id="suite" label="suite" class="form-control col-md-3 float-left" name="suite"
            formControlName="suite" required placeholder="Test Suite X">
        <!-- <button class="form-control col-md-1 btn btn-light float-left ml-2" label="Create Test Suite" name="Create Test Suite"  aria-label="Create Test Suite" ><i class="fa fa-plus" aria-hidden="true"></i></button>   -->
    </form>

    <p-footer>
        <button type="submit" pButton icon="pi pi-check" (click)="onNewTestSuite(formTestSuite.value)"
            label="Create"></button>
        <button type="button" pButton icon="pi pi-close" (click)="displayCreateSuiteDialog=false" label="Cancel"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>


<p-sidebar [(visible)]="settingmenu"  [fullScreen]="true" [position]="settingPosition" >
    
    <div class="row">
        <button pButton type="button" (click)="setMenuPosition('left')" class="ui-button-primary m-2" icon="fa fa-arrow-left"></button>    
        <button pButton type="button" (click)="setMenuPosition('right')" class="ui-button-primary m-2" icon="fa fa-arrow-right"></button>    
        <button pButton type="button" (click)="setMenuPosition('top')" class="ui-button-primary m-2" icon="fa fa-arrow-up"></button>    
        <button pButton type="button" (click)="setMenuPosition('bottom')" class="ui-button-primary m-2" icon="fa fa-arrow-down"></button>    
        <button pButton type="button" (click)="setMenuPosition('full')" class="ui-button-primary m-2" icon="fa fa-desktop"></button>    
    </div>
    
    
    <div class="card col-md-3 m-3">
    <header class="card-header"><strong>Select columns to display</strong></header>
       <div class="card-body card-block m-2">
            <form [formGroup]="formSelectColumns" (ngSubmit)="setColumns(formSelectColumns.value)"  name="formSelectColumns">
                <input type = "checkbox" id = "clone" formControlName = "clone" > <strong> clone </strong> <br>
                <input type = "checkbox" id = "executeat" formControlName = "executeat" > <strong> execute at </strong> <br>
                <input type = "checkbox" id = "index" formControlName = "index" > <strong> index  </strong> <br>
                <input type = "checkbox" id = "image" formControlName = "image" > <strong> image </strong> <br>
                <input type = "checkbox" id = "execute" formControlName = "execute" > <strong> execute</strong> <br>
                <input type = "checkbox" id = "tag" formControlName = "tag" > <strong> tag  </strong> <br>
                <input type = "checkbox" id = "object" formControlName = "object"> <strong> object </strong> <br>
                <input type = "checkbox" id = "through" formControlName = "through" > <strong> through  </strong> <br> 
                <input type = "checkbox" id = "waittime" formControlName = "waittime" > <strong> wait time  </strong> <br> <br>
                <button pButton type="button" (click)="setColumns(formSelectColumns.value)" label="Save" class="ui-button-success center-button"></button>
            </form>
       </div>
    </div>

    <div class="card col-md-3 m-3">
            <header class="card-header"><strong>Manage</strong></header>
               <div class="card-body card-block m-2">
                    <form [formGroup]="formSession"  name="formSession">
                        <div><strong >Cookies</strong> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p-inputSwitch formControlName = "cookies" class="m-2" ></p-inputSwitch> </div>
                        <div><strong>Session</strong> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p-inputSwitch formControlName = "session" class="m-2"></p-inputSwitch><br></div>
                        <div><strong>Capture Images</strong><p-inputSwitch formControlName = "captureimage" class="m-2"></p-inputSwitch><br></div><br>
                        <!-- <div><strong>Disable Images</strong><p-inputSwitch formControlName = "isImagesEnable" class="m-2" ></p-inputSwitch><br></div><br> -->
                        <input type="hidden" formControlName = "isImagesEnable" >
                        <button pButton type="button" label="Save" class="ui-button-success center-button" (click) = "setSession(formSession.value)"></button>
                    </form>
               </div>
            </div>
    
    
</p-sidebar>


<!-- <div *ngFor = "col in columns; let i = index;">
        <div class="ui-g" style="width:250px;margin-bottom:10px">
            <div class="ui-g-12"><p-checkbox name="group2" formControlName = "col" value="Technology" label="Technology" [(ngModel)]="colefew" inputId="technology"></p-checkbox></div>
        </div>
    </div> -->