<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="card">
                    <header class="card-header" style="background-color: orange"> <strong>Settings</strong>
                    </header>
                    <div class="card-body card-block">
                        <form [formGroup] = "selectColumns" name = "selectColumns" (ngSubmit) = "saveCol()">
                        <div class="form-group col-md-12">
                                <p-selectButton [options]="types" [(ngModel)]="selectedTypes" multiple="multiple" formControlName = "columns"></p-selectButton>
                                <p>Selected Types: <span style="font-weight: bold" *ngFor="let type of selectedTypes">{{type}} </span></p>
                                <button pButton type="button" label="Save" class="ui-button-success" (click) = "saveCol()"></button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    